@keyframes rotate50 {
  0% {
    transform: rotate(-50deg);
  }
  50% {
    transform: rotate(50deg);
  }
  100% {
    transform: rotate(-50deg);
  }
}

.handimage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73vh;
}
.karupatti {
  display: flex;
  justify-content: center;
  align-items: center;
}
.karupatti img {
  margin-bottom: 10px;
}
.handTransition {
  animation: rotate50 13s infinite;
}
.handimage img {
  max-width: 300px;
  max-height: 430px;
}

.iconsimage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  height: 55px;
}
.background {
  background-image: url("./features/image/teaEstate.jpg");
  background-size: cover;
  background-position: center;
}
.iconsimage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.icon1 {
  /* animation: rotate50 13s infinite; */
  height: 60px;
  width: 60px;
  /* margin-right: 270px;
  margin-top: 330px;
  position: absolute; */
  transition-duration: 600ms;
  transition-timing-function: ease;
  cursor: pointer;
}
.icon2 {
  /* animation: rotate50 13s infinite; */
  height: 60px;
  width: 60px;
  /* margin-right: 180px;
  margin-top: 120px;
  position: absolute; */
  transition-duration: 600ms;
  transition-timing-function: ease;
  cursor: pointer;
}
.icon3 {
  /* animation: rotate50 13s infinite; */
  height: 60px;
  width: 60px;
  /* margin-right: 0x;
  margin-top: 30px;
  position: absolute; */
  transition-duration: 600ms;
  transition-timing-function: ease;
  cursor: pointer;
}
.icon4 {
  /* animation: rotate50 13s infinite; */
  height: 60px;
  width: 60px;
  /* margin-left: 170px;
  margin-top: 81px;
  position: absolute; */
  transition-duration: 600ms;
  transition-timing-function: ease;
  cursor: pointer;
}
.icon5 {
  /* animation: rotate50 13s infinite; */
  height: 60px;
  width: 60px;
  /* margin-left: 290px;
  margin-top: 215px;
  position: absolute; */
  transition-duration: 600ms;
  transition-timing-function: ease;
  cursor: pointer;
}

.icon1:hover {
  transform: scale(1.5);
}
.icon2:hover {
  transform: scale(1.5);
}
.icon3:hover {
  transform: scale(1.5);
}
.icon4:hover {
  transform: scale(1.5);
}
.icon5:hover {
  transform: scale(1.5);
}
.css-1kp4l8y-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #2c9763;
}
