body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(rgb(213, 233, 213) 20%, white);
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.css-46bh2p-MuiCardContent-root {
  padding: 0%;
}
.css-46bh2p-MuiCardContent-root:last-child {
  padding-bottom: 0px;
}
